<form>
    <label for="odds">Odds:</label>
    <select name="odds" id="mgme_odds" style="margin-bottom: 10px;">
        <option value="i">Impossible</option>
        <option value="nw">No way</option>
        <option value="vu">Very unlikely</option>
        <option value="u">Unlikely</option>
        <option value="ff" selected>50/50</option>
        <option value="sl">Somewhat likely</option>
        <option value="l">Likely</option>
        <option value="vl">Very likely</option>
        <option value="nst">Near sure thing</option>
        <option value="ast">A sure thing</option>
        <option value="htb">Has to be</option>
    </select>
    <label for="chaos" style="margin-left: 5px;">Chaos Rank:</label>
    <select name="chaos" id="mgme_chaos" style="margin-bottom: 10px;">
        {{chaosRankOptions}}
    </select><br>
    <label for="question">Question (optional):</label>
    <input id="mgme_question" style="margin-bottom:10px;width: 260px;" placeholder="Ask a Question..."/>
</form>