<form>
    <label for="mgme_chaos" style="margin-left: 5px;">Chaos Rank:</label>
    <select name="Chaos" id="mgme_chaos" style="margin-bottom: 10px;">
        {{chaosRankOptions}}
    </select>
</form>