<form>
    <div>
    <label for="mgme_ext_table_name" style="margin-bottom:10px;">{{ localize 'MGME.ExternalRollTableName' }}:</label>
    <input id="mgme_ext_table_name" style="margin-bottom:10px;"/>
    </div>

    <div>
    <label for="mgme_ext_formula">{{ localize 'MGME.ExternalRollTableFormula' }}:</label>
    <input id="mgme_ext_formula" placeholder="1d100" style="margin-bottom:10px;"/>
    </div>
</form>