<form>
    <div>
        <label for="customQuestion">{{ localize "MGME.Flavor" }}:</label>
        <input name="customQuestion" id="mgme_custom_oracle_question" style="margin-bottom:10px;width:220px"/>
    </div>
</form>