<form>
    <div>
    <label for="mgme_table_question">{{ localize 'MGME.Question' }}:</label>
    <input id="mgme_table_question" style="margin-bottom:10px"/>
    </div>

    <div>
    <label for="mgme_table_select">{{ localize 'MGME.ExternalRollTableName' }}:</label>
        <select id="mgme_table_select" style="margin-bottom:10px;"></select>
    </div>
</form>