<form>
    <div>
        <label for="mgme_export_journal_name" style="vertical-align:super;">Journal Entry Name (Append if exists)</label>
        <input name="Journal Name" type="text" id="mgme_export_journal_name" placeholder="{{defaultJournalName}}">
    </div>
    <div>
        <label for="mgme_export_include_meta" style="vertical-align:super;">Include Author and Timestamp</label>
        <input checked name="Include Author and Timestamp" type="checkbox" id="mgme_export_include_meta">
    </div>
    <div>
        <label for="mgme_export_clear_chat" style="vertical-align:super;">Clear Chat after Export</label>
        <input name="Clear chat after Export" type="checkbox" id="mgme_export_clear_chat">
    </div>
</form>