<form>
    <div>
        <label for="mgme_ext_table_name" style="margin-bottom:10px;">{{ localize 'MGME.ExternalRollTableName' }}:</label>
        <input id="mgme_ext_table_name" style="margin-bottom:10px;"/>
    </div>

    <div>
        <label for="mgme_ext_formula">{{ localize 'MGME.ExternalRollTableFormula' }}:</label>
        <input id="mgme_ext_formula" placeholder="1d100" style="margin-bottom:10px;"/>
    </div>

    <div>
        <label for="mgme_ext_many">{{ localize 'MGME.HowMany' }}:</label>
        <select id="mgme_ext_many" style="margin-bottom:10px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</form>