<form>
    <div>
        <label for="mgme_custom_oracle_question">{{ localize "MGME.Flavor" }}:</label>
        <input name="Custom Question" id="mgme_custom_oracle_question" style="margin-bottom:10px;width:220px"/>
    </div>
</form>