<form>

    <div>
        <label for="mgme_question_target">{{localize "MGME.OracleName"}}:</label>
        <input name="Target" id="mgme_question_target" style="margin-bottom:10px;width:290px;"/>
    </div>

    <div id="mgme_builder_container"></div>
    <div><i style="width:auto;height:25px;" class="fas fa-plus" onclick="addRevealNextEntry(this.parentElement.parentElement)"> {{localize "MGME.Add"}}</i></div>

    <div>
        <span title="Flavor" class="fas fa-exclamation-triangle" style="margin-left:5px;"></span>
        <label for="mgme_question_flavor">{{localize "MGME.AskForFlavor"}}</label>
        <input name="Ask Flavor" id="mgme_question_flavor" type="checkbox" style="vertical-align:middle">
    </div>

    <script>
        function addRevealNextEntry(html) {
            const elem = $(html);
            elem.find(".stat-hidden").first().removeClass('stat-hidden');
        }
        function clearEntry(id) {
          $("#mgme_builder_label_"+id).val('');
          $("#mgme_builder_table_"+id).val('None');
          $("#mgme_builder_draws_"+id).val('1');
          $("#entries_"+id).addClass('stat-hidden')
        }
    </script>

    <style>
        i:hover {
            text-shadow: 0 0 8px red;
        }
        .stat-hidden {
            visibility: hidden;
        }
    </style>

</form>