<div id="mythic-gme-window">
    <table>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Probers & Kickers</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gume_probe_world">World</button></td>
            <td class='spaced' colspan="2"><button id="gume_scene_kick">Kicker</button></td>
            <td class='spaced' colspan="1"><button id="gume_probe_scene">Scene</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Discoveries</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gume_discovery_past">Recent</button></td>
            <td class='spaced' colspan="1"><button id="gume_discovery_future">Soon</button></td>
            <td class='spaced' colspan="1"><button id="gume_discovery_clue">Clues, Intel</button></td>
            <td class='spaced' colspan="1"><button id="gume_discovery_reason">Reasons</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Location Identity</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_locid_build">Building</button></td>
            <td class='spaced' colspan="2"><button id="gum_locid_urban">Urban</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_locid_space">Space</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_special">Special</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_outs">Outskirts</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_wild">Wilderness</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Location Detail</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_locdet_feat">Feature</button></td>
            <td class='spaced' colspan="2"><button id="gum_locdet_worth">Worth</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_locdet_act">Activity</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_purp">Purpose</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_inh">Inhabitants</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_looks">Looks</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Challenge test</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_chskill">Skill</button></td>
            <td class='spaced'><button id="gum_chsituation">Situation</button></td>
            <td class='spaced'><button id="gum_chprompt">Prompt</button></td>
            <td class='spaced'><button id="gum_chcondition">Conditions</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Combat & Conflicts</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_combat_beh">Behavior</button></td>
            <td class='spaced' colspan="1"><button id="gum_combat_comp">Composition</button></td>
            <td class='spaced' colspan="1"><button id="gum_combat_cond">Conditions</button></td>
            <td class='spaced' colspan="1"><button id="gum_combat_tac">Tactical</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Identity</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_npcid_civ">Civilian</button></td>
            <td class='spaced' colspan="2"><button id="gum_npcid_skill">Skilled</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_npcid_spec">Special</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_vip">VIP</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_conn">Connected</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_fight">Fighting</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Detail</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_npcdet_att">Attitude</button></td>
            <td class='spaced' colspan="2"><button id="gum_npcdet_looks">Looks</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_npcdet_edge">Edge</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_quirk">Quirk</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_stuff">Stuff</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_wants">Wants</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Interaction</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gume_interact_beh">Behavior</button></td>
            <td class='spaced' colspan="1"><button id="gume_interact_cont">Contribution</button></td>
            <td class='spaced' colspan="1"><button id="gume_interact_req">Request</button></td>
            <td class='spaced' colspan="1"><button id="gume_interact_res">Response</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Actions</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gume_enemy_event">Recent events</button></td>
            <td class='spaced' colspan="1"><button id="gume_enemy_feeling">Insights</button></td>
            <td class='spaced' colspan="1"><button id="gume_enemy_risk">Risks</button></td>
            <td class='spaced' colspan="1"><button id="gume_enemy_threat">Threats</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Reasons</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_mot_good">Good motives</button></td>
            <td class='spaced' colspan="2"><button id="gum_mot_evil">Evil motives</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_act_good">Good actions</button></td>
            <td class='spaced' colspan="2"><button id="gum_act_evil">Evil actions</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Yes or No Oracle</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_qqgm_n">GM unlikely</button></td>
            <td class='spaced' colspan="2"><button id="gum_qqgm_u">GM even</button></td>
            <td class='spaced'><button id="gum_qqgm_y">GM likely</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_qqpc_n">PC unlikely</button></td>
            <td class='spaced' colspan="2"><button id="gum_qqpc_u">PC even</button></td>
            <td class='spaced'><button id="gum_qqpc_y">PC likely</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_qqnpc_n">NPC unlikely</button></td>
            <td class='spaced' colspan="2"><button id="gum_qqnpc_u">NPC even</button></td>
            <td class='spaced'><button id="gum_qqnpc_y">NPC likely</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Grand Oracle</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_act">Action</button></td>
            <td class='spaced' colspan="2"><button id="gum_desc">Descriptor</button></td>
            <td class='spaced'><button id="gum_sub">Subject</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about the <a href="https://jeansenvaars.itch.io/game-unfolding-machine">Game unfolding machine</a> - Support me with a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>