<div id="mythic-gme-window">
    <table>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">GM Emulation</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="scene_tension" value="calm" />
                Calm
            </label>
            </td>
            <td class='spaced' colspan="2" style="text-align: center">
            <label>
                <input type="radio" name="scene_tension" value="normal" checked />
                Normal
            </label>
            </td>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="scene_tension" value="tense" />
                Tense
            </label>
            </td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_gmf">Feedback</button></td>
            <td class='spaced' colspan="2"><button id="sum_gma">Action</button></td>
            <td class='spaced' colspan="1"><button id="sum_gmw">World</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Emulation</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="npc_disposition" value="friend" />
                Friend
            </label>
            </td>
            <td class='spaced' colspan="2" style="text-align: center">
            <label>
                <input type="radio" name="npc_disposition" value="neutral" checked />
                Neutral
            </label>
            </td>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="npc_disposition" value="foe" />
                Foe
            </label>
            </td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_npcc">Contribution</button></td>
            <td class='spaced' colspan="1"><button id="sum_npcb">Behavior</button></td>
            <td class='spaced' colspan="1"><button id="sum_npco">Opinion</button></td>
            <td class='spaced' colspan="1"><button id="sum_npca">Answer</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Inspiration Prompts</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_act">Action</button></td>
            <td class='spaced' colspan="2"><button id="sum_sub">Subject</button></td>
            <td class='spaced' colspan="1"><button id="sum_adj">Adjective</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about <a href="https://jeansenvaars.itch.io/scene-unfolding-machine">SUM</a> - Consider a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>