<div id="sum7-window">
    <table>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Bias control</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
                <label>
                    <input type="radio" name="sum7_bias" value="favorable" />
                    Favorable
                </label>
            </td>
            <td class='spaced' colspan="1" style="text-align: center">
                <label>
                    <input type="radio" name="sum7_bias" value="neutral" checked />
                    Neutral
                </label>
            </td>
            <td class='spaced' colspan="1">
                <label>
                    <input type="radio" name="sum7_bias" value="unfavorable" />
                    Unfavorable
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Scene Emulation</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum7_scop">Scene opener</button></td>
            <td class='spaced' colspan="1"><button id="sum7_ich">Intervention check</button></td>
            <td class='spaced' colspan="1"><button id="sum7_acr">Actions' reaction</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Character Emulation I</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum7_fire">First reaction</button></td>
            <td class='spaced' colspan="1"><button id="sum7_outi">Outside impression</button></td>
            <td class='spaced' colspan="1"><button id="sum7_filler">Filler talks</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Character Emulation II</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum7_perty">Personality type</button></td>
            <td class='spaced' colspan="1"><button id="sum7_cont">Plot contribution</button></td>
            <td class='spaced' colspan="1"><button id="sum7_opi">Opinion or response</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Character Emulation III</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum7_jobp">Job or profession</button></td>
            <td class='spaced' colspan="1"><button id="sum7_recan">Recent anecdote</button></td>
            <td class='spaced' colspan="1"><button id="sum7_tod">Truth or dare</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Character Emulation IV</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum7_parm">Parallel matters</button></td>
            <td class='spaced' colspan="1"><button id="sum7_lingb">Lingering backstories</button></td>
            <td class='spaced' colspan="1"><button id="sum7_bondr">Bonding relations</button></td>
        </tr>
        <tr>
            <td colspan="3"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about <a href="https://jeansenvaars.itch.io/scene-unfolding-machine">SUM</a> - Consider a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>