<div id="mythic-gme-window">
    <table>
        <tr>
            <td class='spaced'><button id="pum_sd">Prompt</button></td>
            <td class='spaced'><button id="pum_ex">Expectation</button></td>
            <td class='spaced'><button id="pum_cd">Discovery</button></td>
            <td class='spaced'><button id="pum_hs">Risk</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_chll">Challenge</button></td>
            <td class='spaced' colspan="1"><button id="pum_circ">Circumstance</button></td>
            <td class='spaced' colspan="1"><button id="pum_compc">Complication</button></td>
            <td class='spaced' colspan="1"><button id="pum_contx">Catalyst</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Yes or No</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_qqu">Unlikely</button></td>
            <td class='spaced' colspan="2"><button id="pum_qqe">Even</button></td>
            <td class='spaced'><button id="pum_qql">Likely</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_area">Area</button></td>
            <td class='spaced' colspan="2"><button id="pum_npc">Someone</button></td>
            <td class='spaced'><button id="pum_obj">Object</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_who">Who</button></td>
            <td class='spaced' colspan="2"><button id="pum_subj">Subject</button></td>
            <td class='spaced' colspan="1"><button id="pum_wha">What</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_in">Intent</button></td>
            <td class='spaced' colspan="2"><button id="pum_re">Reason</button></td>
            <td class='spaced' colspan="1"><button id="pum_act">Activity</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_kindi">Item</button></td>
            <td class='spaced'><button id="pum_kinda">Ability</button></td>
            <!--            <td class='spaced'><button id="pum_kindp">Kind of Person</button></td>-->
            <td class='spaced'><button id="pum_kinde">Enemy</button></td>
            <td class='spaced'><button id="pum_kindd">Danger</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Scene Unfolding Machine</h3></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">GM Emulation</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="scene_tension" value="calm" />
                Calm
            </label>
            </td>
            <td class='spaced' colspan="2" style="text-align: center">
            <label>
                <input type="radio" name="scene_tension" value="normal" checked />
                Normal
            </label>
            </td>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="scene_tension" value="tense" />
                Tense
            </label>
            </td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_gmf">Feedback</button></td>
            <td class='spaced' colspan="2"><button id="sum_gma">Action</button></td>
            <td class='spaced' colspan="1"><button id="sum_gmw">World</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Emulation</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="npc_disposition" value="friend" />
                Friend
            </label>
            </td>
            <td class='spaced' colspan="2" style="text-align: center">
            <label>
                <input type="radio" name="npc_disposition" value="neutral" checked />
                Neutral
            </label>
            </td>
            <td class='spaced' colspan="1">
            <label>
                <input type="radio" name="npc_disposition" value="foe" />
                Foe
            </label>
            </td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_npcc">Contribution</button></td>
            <td class='spaced' colspan="1"><button id="sum_npcb">Behavior</button></td>
            <td class='spaced' colspan="1"><button id="sum_npco">Opinion</button></td>
            <td class='spaced' colspan="1"><button id="sum_npca">Answer</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Inspiration Prompts</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_act">Action</button></td>
            <td class='spaced' colspan="2"><button id="sum_sub">Subject</button></td>
            <td class='spaced' colspan="1"><button id="sum_adj">Adjective</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more: <a href="https://jeansenvaars.itch.io/plot-unfolding-machine">PUM</a> - <a href="https://jeansenvaars.itch.io/scene-unfolding-machine">SUM</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>