<div id="mythic-gme-window">
    <table>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Exploration Scene</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_exp_loc">Location</button></td>
            <td class='spaced' colspan="2"><button id="gum2_exp_skill">Skill test</button></td>
            <td class='spaced' colspan="1"><button id="gum2_exp_circ">Circumstance</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Combat Scene</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_comb_loc">Location</button></td>
            <td class='spaced' colspan="2"><button id="gum2_comb_tact">Tactics</button></td>
            <td class='spaced' colspan="1"><button id="gum2_comb_comp">Composition</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Plot discoveries</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum2_plt_clue">Clue type</button></td>
            <td class='spaced'><button id="gum2_plt_find">Useful finding</button></td>
            <td class='spaced'><button id="gum2_plt_act">Enemy deeds</button></td>
            <td class='spaced'><button id="gum2_plt_occ">Occurrences</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Character generator</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_char_poss">By possessions</button></td>
            <td class='spaced' colspan="1"><button id="gum2_char_looks">By impression</button></td>
            <td class='spaced' colspan="1"><button id="gum2_char_act">By activity</button></td>
            <td class='spaced' colspan="1"><button id="gum2_char_int">By intention</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Nemesis generator</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_npce_imp">Impression</button></td>
            <td class='spaced' colspan="2"><button id="gum2_npce_deed">Past deeds</button></td>
            <td class='spaced' colspan="1"><button id="gum2_npce_int">Intentions</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Location generator</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_loc_feat">By feature</button></td>
            <td class='spaced' colspan="1"><button id="gum2_loc_worth">By worth</button></td>
            <td class='spaced' colspan="1"><button id="gum2_loc_purp">By purpose</button></td>
            <td class='spaced' colspan="1"><button id="gum2_loc_cont">By content</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Object generator</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_obj_func">By function</button></td>
            <td class='spaced' colspan="2"><button id="gum2_obj_form">By form</button></td>
            <td class='spaced' colspan="1"><button id="gum2_obj_state">By state</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Faction generator</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum2_fact_focus">Driving Focus</button></td>
            <td class='spaced' colspan="2"><button id="gum2_fact_res">Surplus/Needs</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Creature generator</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_cre_type">By type</button></td>
            <td class='spaced' colspan="2"><button id="gum2_cre_abi">By ability</button></td>
            <td class='spaced' colspan="1"><button id="gum2_cre_beh">By behavior</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Motivations</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_mot_gmot">Good motives</button></td>
            <td class='spaced' colspan="1"><button id="gum2_mot_gact">Good deeds</button></td>
            <td class='spaced' colspan="1"><button id="gum2_mot_emot">Evil motives</button></td>
            <td class='spaced' colspan="1"><button id="gum2_mot_eact">Evil deeds</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Grand oracle</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum2_action">Action</button></td>
            <td class='spaced' colspan="2"><button id="gum2_adjective">Adjective</button></td>
            <td class='spaced' colspan="1"><button id="gum2_subject">Subject</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about the <a href="https://jeansenvaars.itch.io/game-unfolding-machine">Game unfolding machine v2</a> - Support me with a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>