<div id="sum6-window">
    <table>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">GM Emulation</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum6_ich">Intervention check</button></td>
            <td class='spaced' colspan="1"><button id="sum6_acr">Actions' reaction</button></td>
            <td class='spaced' colspan="1"><button id="sum6_livf">Living factions</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">PC Enrichment</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum6_parm">Parallel matters</button></td>
            <td class='spaced' colspan="1"><button id="sum6_lingb">Lingering backstories</button></td>
            <td class='spaced' colspan="1"><button id="sum6_bondr">Bonding relations</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Emulation I</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum6_att">Attitude</button></td>
            <td class='spaced' colspan="1"><button id="sum6_cont">Contribution</button></td>
            <td class='spaced' colspan="1"><button id="sum6_opi">Opinion</button></td>
        </tr>
        <tr>
            <td colspan="3"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPC Emulation II</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum6_outi">Outside impression</button></td>
            <td class='spaced' colspan="1"><button id="sum6_filler">Filler talks</button></td>
            <td class='spaced' colspan="1"><button id="sum6_tod">Truth or dare</button></td>
        </tr>
        <tr>
            <td colspan="3"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about <a href="https://jeansenvaars.itch.io/scene-unfolding-machine">SUM</a> - Consider a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>