<div id="mythic-gme-window">
    <table>
        <tr>
            <td class='spaced'><button id="pum_sd">Prompt</button></td>
            <td class='spaced'><button id="pum_ex">Expectation</button></td>
            <td class='spaced'><button id="pum_cd">Discovery</button></td>
            <td class='spaced'><button id="pum_hs">Risk</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_chll">Challenge</button></td>
            <td class='spaced' colspan="1"><button id="pum_circ">Circumstance</button></td>
            <td class='spaced' colspan="1"><button id="pum_compc">Complication</button></td>
            <td class='spaced' colspan="1"><button id="pum_contx">Catalyst</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Yes or No</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_qqu">Unlikely</button></td>
            <td class='spaced' colspan="2"><button id="pum_qqe">Even</button></td>
            <td class='spaced'><button id="pum_qql">Likely</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_area">Area</button></td>
            <td class='spaced' colspan="2"><button id="pum_npc">Someone</button></td>
            <td class='spaced'><button id="pum_obj">Object</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_who">Who</button></td>
            <td class='spaced' colspan="2"><button id="pum_subj">Subject</button></td>
            <td class='spaced' colspan="1"><button id="pum_wha">What</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_in">Intent</button></td>
            <td class='spaced' colspan="2"><button id="pum_re">Reason</button></td>
            <td class='spaced' colspan="1"><button id="pum_act">Activity</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_kindi">Item</button></td>
            <td class='spaced'><button id="pum_kinda">Ability</button></td>
            <!--            <td class='spaced'><button id="pum_kindp">Kind of Person</button></td>-->
            <td class='spaced'><button id="pum_kinde">Enemy</button></td>
            <td class='spaced'><button id="pum_kindd">Danger</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about <a href="https://jeansenvaars.itch.io/plot-unfolding-machine">PUM</a> - Consider a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>