<div id="mythic-gme-window">
    <table>
        <tr>
            <td><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Click to draw</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_base">Base Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_base2e">Base 2e Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_fantasy">Fantasy Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_horror">Horror Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_weird">Weird Horror Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_scifi">Sci Fi Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_cyberpunk">Cyberpunk Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_steampunk">Steampunk Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_sail">Age of Sail Deck</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gma_demons">Demon Hunters Deck</button></td>
        </tr>
        <tr>
            <td><div style="text-align:right; margin-bottom: 0;font-size:11px">Copyright 2013-2025 by Nathan Rockwood, published by Larcenous Designs, LLC</div></td>
        </tr>
        <tr>
            <td><div style="text-align:right; margin-bottom: 0;font-size:11px">Download GMA VTT cards and unzip in /data/decks folder. <a href="https://www.drivethrurpg.com/browse/pub/6395/Larcenous-Designs-LLC">Get the cards here</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>