<div id="mythic-gme-window">
    <table>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Scene Setup</h3></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_sd">Scene Designer</button></td>
            <td class='spaced'><button id="pum_ex">Expectation Checker</button></td>
            <td class='spaced'><button id="pum_cd">Challenge Type</button></td>
            <td class='spaced'><button id="pum_hs">High Stakes</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_comp">Scene Complication</button></td>
            <td class='spaced' colspan="2"><button id="pum_comb">Combat Designer</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Oracles</h3></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_qqu">Unlikely</button></td>
            <td class='spaced' colspan="2"><button id="pum_qqe">Yes or No</button></td>
            <td class='spaced'><button id="pum_qql">Likely</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_hma">How many?</button></td>
            <td class='spaced'><button id="pum_hmu">How much?</button></td>
            <td class='spaced'><button id="pum_hg">How good?</button></td>
            <td class='spaced'><button id="pum_hh">How hard?</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Describe</h3></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_area">Area</button></td>
            <td class='spaced' colspan="2"><button id="pum_npc">Someone</button></td>
            <td class='spaced'><button id="pum_obj">Object</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Questions</h3></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_who">Who</button></td>
            <td class='spaced' colspan="2"><button id="pum_wha">What</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_in">Intent</button></td>
            <td class='spaced' colspan="2"><button id="pum_re">Reason</button></td>
            <td class='spaced' colspan="1"><button id="pum_act">Activity</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Scene Unfolding</h3></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_gm0">GM Action +0</button></td>
            <td class='spaced' colspan="1"><button id="sum_gm1">GM Action +10</button></td>
            <td class='spaced' colspan="1"><button id="sum_gm2">GM Action +20</button></td>
            <td class='spaced' colspan="1"><button id="sum_gm3">GM Action +30</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="sum_npcg">NPC Behavior (Good)</button></td>
            <td class='spaced' colspan="2"><button id="sum_npcb">NPC Behavior (Bad)</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_npc0">NPC Action +0</button></td>
            <td class='spaced' colspan="1"><button id="sum_npc1">NPC Action +10</button></td>
            <td class='spaced' colspan="1"><button id="sum_npc2">NPC Action +20</button></td>
            <td class='spaced' colspan="1"><button id="sum_npc3">NPC Action +30</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center; margin-bottom: 0">Inspiration Prompts</h3></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="sum_act">Action</button></td>
            <td class='spaced' colspan="2"><button id="sum_sub">Subject</button></td>
            <td class='spaced' colspan="1"><button id="sum_adj">Adjective</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px"><a href="https://jeansenvaars.itch.io/plot-unfolding-machine">PUM</a> - <a href="https://jeansenvaars.itch.io/scene-unfolding-machine">SUM</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>