<div class="pum8-dialog">
    <div class="pum8-dialog__button-control pum8_panel_aspect_setup">
        <button class="pum8-dialog__button" id="pum8_panel_aspect_setup">
            <i class="fas pum8-dialog__icon--left fa-list"></i>
            <span class="pum8-dialog__button-control-label">World elements</span>
        </button>
    </div>
    <div class="pum8-dialog__dice--right pum8_panel_aspect_roll">
        <button class="pum8-dialog__button" id="pum8_panel_aspect_roll" style="height: 32px;">
            <i class="fas pum8-dialog__icon--left fa-dice"></i>
            <span class="pum8-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="pum8-dialog__button-control pum8_panel_encounter_setup">
        <button class="pum8-dialog__button" id="pum8_panel_encounter_setup">
            <i class="fas pum8-dialog__icon--left fa-list"></i>
            <span class="pum8-dialog__button-control-label">Meaning encounters</span>
        </button>
    </div>
    <div class="pum8-dialog__dice--left pum8_panel_encounter_roll">
        <button class="pum8-dialog__button" id="pum8_panel_encounter_roll" style="height: 32px;">
            <i class="fas pum8-dialog__icon--left fa-dice"></i>
            <span class="pum8-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="pum8-dialog__button-control pum8_panel_find_setup">
        <button class="pum8-dialog__button" id="pum8_panel_find_setup">
            <i class="fas pum8-dialog__icon--left fa-list"></i>
            <span class="pum8-dialog__button-control-label">Things to be found</span>
        </button>
    </div>
    <div class="pum8-dialog__dice--right pum8_panel_find_roll">
        <button class="pum8-dialog__button" id="pum8_panel_find_roll" style="height: 32px;">
            <i class="fas pum8-dialog__icon--left fa-dice"></i>
            <span class="pum8-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="pum8-dialog__button-control pum8_panel_question_setup">
        <button class="pum8-dialog__button" id="pum8_panel_question_setup">
            <i class="fas pum8-dialog__icon--left fa-list"></i>
            <span class="pum8-dialog__button-control-label">Pending questions</span>
        </button>
    </div>
    <div class="pum8-dialog__dice--left pum8_panel_question_roll">
        <button class="pum8-dialog__button" id="pum8_panel_question_roll" style="height: 32px;">
            <i class="fas pum8-dialog__icon--left fa-dice"></i>
            <span class="pum8-dialog__button-control-label"></span>
        </button>
    </div>
</div>
<div id="pum8-window">
    <table>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_modified">Modified proposal</button></td>
            <td class='spaced' colspan="2"><button id="pum_rprompt">Random prompt</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_compc">Complication</button></td>
            <td class='spaced' colspan="1"><button id="pum_cat">Catalyst</button></td>
            <td class='spaced' colspan="1"><button id="pum_chll">Challenge</button></td>
            <td class='spaced' colspan="1"><button id="pum_sit">Situation</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Yes or No oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
                <label>
                    <input type="radio" name="pum8_qqbias" value="low" />
                    No-bias
                </label>
            </td>
            <td class='spaced' colspan="2" style="text-align: center">
                <label>
                    <input type="radio" name="pum8_qqbias" value="neutral" checked />
                    Neutral
                </label>
            </td>
            <td class='spaced' colspan="1">
                <label>
                    <input type="radio" name="pum8_qqbias" value="high" />
                    Yes-bias
                </label>
            </td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_qqs">Subjective</button></td>
            <td class='spaced' colspan="2"><button id="pum_qqd">Deterministic</button></td>
            <td class='spaced'><button id="pum_qqi">Interaction</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Quantifier oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1">
                <label>
                    <input type="radio" name="pum8_quantbias" value="low" />
                    Low-bias
                </label>
            </td>
            <td class='spaced' colspan="2" style="text-align: center">
                <label>
                    <input type="radio" name="pum8_quantbias" value="neutral" checked />
                    Neutral
                </label>
            </td>
            <td class='spaced' colspan="1">
                <label>
                    <input type="radio" name="pum8_quantbias" value="high" />
                    High-bias
                </label>
            </td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_qhma">How many/much</button></td>
            <td class='spaced' colspan="2"><button id="pum_qhh">How hard/tough</button></td>
            <td class='spaced' colspan="1"><button id="pum_qhw">How good/well</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Open oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_want">Intent (want)</button></td>
            <td class='spaced' colspan="2"><button id="pum_find">Discovery (find)</button></td>
            <td class='spaced' colspan="1"><button id="pum_doing">Activity (doing)</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_risk">Stakes (risk)</button></td>
            <td class='spaced' colspan="2"><button id="pum_why">Reason (why)</button></td>
            <td class='spaced' colspan="1"><button id="pum_how">Explain (how)</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="4"><button id="pum_focus">Focus (what)</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Extra oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_who">Someone (who)</button></td>
            <td class='spaced' colspan="2"><button id="pum_whatfor">Object (what for)</button></td>
            <td class='spaced' colspan="1"><button id="pum_skill">Fight (skill)</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_where">Place (where)</button></td>
            <td class='spaced' colspan="2"><button id="pum_perceive">Insight (notice)</button></td>
            <td class='spaced' colspan="1"><button id="pum_when">Time (when)</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="4"><button id="pum_looks">Description (looks)</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Optional rule</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="4"><button id="pum_disd">Disruption check</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more about <a href="https://jeansenvaars.itch.io/plot-unfolding-machine">PUM</a> - Consider a <a href="https://ko-fi.com/jeansenvaars">donation</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>