<div id="mythic-gme-window">
    <table>
        <tr>
            <td colspan="4"><h3 style="text-align:center">Plot Unfolding Machine</h3></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_sd">Scene Designer</button></td>
            <td class='spaced'><button id="pum_ex">Expectation Checker</button></td>
            <td class='spaced'><button id="pum_cd">Challenge Designer</button></td>
            <td class='spaced'><button id="pum_hs">High Stakes</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_comp">Complication Designer</button></td>
            <td class='spaced' colspan="2"><button id="pum_comb">Combat Designer</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center">Basic Oracles</h3></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_qqu">Question Unlikely</button></td>
            <td class='spaced' colspan="2"><button id="pum_qqe">Question Even</button></td>
            <td class='spaced'><button id="pum_qql">Question Likely</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_hma">How many?</button></td>
            <td class='spaced'><button id="pum_hmu">How much?</button></td>
            <td class='spaced'><button id="pum_hg">How good?</button></td>
            <td class='spaced'><button id="pum_hh">How hard?</button></td>
        </tr>
        <tr>
            <td colspan="4"><h3 style="text-align:center">Extra Oracles</h3></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_area">Area</button></td>
            <td class='spaced' colspan="2"><button id="pum_npc">NPC</button></td>
            <td class='spaced'><button id="pum_obj">Object</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_wh">What</button></td>
            <td class='spaced' colspan="2"><button id="pum_in">Intent</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right"><i>by JeansenVaars (not a mythic product)</i></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>