<div id="mythic-gme-window">
    <table>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Yes or No</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_qqgm_n">GM unlikely</button></td>
            <td class='spaced' colspan="2"><button id="gum_qqgm_u">GM even</button></td>
            <td class='spaced'><button id="gum_qqgm_y">GM likely</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_qqpc_n">PC unlikely</button></td>
            <td class='spaced' colspan="2"><button id="gum_qqpc_u">PC even</button></td>
            <td class='spaced'><button id="gum_qqpc_y">PC likely</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_qqnpc_n">NPC unlikely</button></td>
            <td class='spaced' colspan="2"><button id="gum_qqnpc_u">NPC even</button></td>
            <td class='spaced'><button id="gum_qqnpc_y">NPC likely</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Grand Oracle</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_act">Action</button></td>
            <td class='spaced' colspan="2"><button id="gum_desc">Descriptor</button></td>
            <td class='spaced'><button id="gum_sub">Subject</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Scene Content</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="gum_intervention">Intervention</button></td>
            <td class='spaced' colspan="2"><button id="gum_scene">Scene</button></td>
            <td class='spaced'><button id="gum_skill">Skill Test</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Plan Check</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_pc_safe">Safe</button></td>
            <td class='spaced' colspan="1"><button id="gum_pc_risky">Risky</button></td>
            <td class='spaced' colspan="1"><button id="gum_pc_tense">Tense</button></td>
            <td class='spaced' colspan="1"><button id="gum_pc_explo">Exploding</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_pc_circ">Circumstance</button></td>
            <td class='spaced' colspan="1"><button id="gum_pc_inc">Inconvenience</button></td>
            <td class='spaced' colspan="1"><button id="gum_pc_comp">Complication</button></td>
            <td class='spaced' colspan="1"><button id="gum_pc_prob">Problem</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Combat & Conflicts</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_combat_beh">Behavior</button></td>
            <td class='spaced' colspan="1"><button id="gum_combat_comp">Composition</button></td>
            <td class='spaced' colspan="1"><button id="gum_combat_cond">Conditions</button></td>
            <td class='spaced' colspan="1"><button id="gum_combat_tac">Tactical</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Locations</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_locid_build">Building</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_outs">Outskirts</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_urban">Urban</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_wild">Wilderness</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_locid_space">Space</button></td>
            <td class='spaced' colspan="1"><button id="gum_locid_special">Special</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_purp">Purpose</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_worth">Worth</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_locdet_act">Activity</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_feat">Feature</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_inh">Inhabitants</button></td>
            <td class='spaced' colspan="1"><button id="gum_locdet_looks">Looks</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">NPCs</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_npcid_civ">Civilian</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_conn">Connected</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_fight">Fighting</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_skill">Skilled</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_npcid_spec">Special</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcid_vip">VIP</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_att">Attitude</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_looks">Looks</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_npcdet_edge">Edge</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_quirk">Quirk</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_stuff">Stuff</button></td>
            <td class='spaced' colspan="1"><button id="gum_npcdet_wants">Wants</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="gum_npc_who">NPC, who?</button></td>
            <td class='spaced' colspan="1"><button id="gum_mot_good">Good motives</button></td>
            <td class='spaced' colspan="2"><button id="gum_mot_evil">Evil motives</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="gum_act_good">Good actions</button></td>
            <td class='spaced' colspan="2"><button id="gum_act_evil">Evil actions</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more: <a href="https://jeansenvaars.itch.io/game-unfolding-machine">GUM</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>