<div class="pum6-dialog">
    <div class="pum6-dialog__button-control pum6_panel_aspect">
        <button class="pum6-dialog__button" id="pum6_panel_aspect">
            <i class="fas pum6-dialog__icon--left fa-list"></i>
            <span class="pum6-dialog__button-control-label">World aspects</span>
        </button>
    </div>
    <div class="pum6-dialog__dice--right pum6_panel_aspect_roll">
        <button class="pum6-dialog__button" id="pum6_panel_aspect_roll" style="height: 32px;">
            <i class="fas pum6-dialog__icon--left fa-dice"></i>
            <span class="pum6-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="pum6-dialog__button-control pum6_panel_actor">
        <button class="pum6-dialog__button" id="pum6_panel_actor">
            <i class="fas pum6-dialog__icon--left fa-list"></i>
            <span class="pum6-dialog__button-control-label">Relevant actors</span>
        </button>
    </div>
    <div class="pum6-dialog__dice--left pum6_panel_actor_roll">
        <button class="pum6-dialog__button" id="pum6_panel_actor_roll" style="height: 32px;">
            <i class="fas pum6-dialog__icon--left fa-dice"></i>
            <span class="pum6-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="pum6-dialog__button-control pum6_panel_trouble">
        <button class="pum6-dialog__button" id="pum6_panel_trouble">
            <i class="fas pum6-dialog__icon--left fa-list"></i>
            <span class="pum6-dialog__button-control-label">Story troubles</span>
        </button>
    </div>
    <div class="pum6-dialog__dice--right pum6_panel_trouble_roll">
        <button class="pum6-dialog__button" id="pum6_panel_trouble_roll" style="height: 32px;">
            <i class="fas pum6-dialog__icon--left fa-dice"></i>
            <span class="pum6-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="pum6-dialog__button-control pum6_panel_thread">
        <button class="pum6-dialog__button" id="pum6_panel_thread">
            <i class="fas pum6-dialog__icon--left fa-list"></i>
            <span class="pum6-dialog__button-control-label">Active threads</span>
        </button>
    </div>
    <div class="pum6-dialog__dice--left pum6_panel_thread_roll">
        <button class="pum6-dialog__button" id="pum6_panel_thread_roll" style="height: 32px;">
            <i class="fas pum6-dialog__icon--left fa-dice"></i>
            <span class="pum6-dialog__button-control-label"></span>
        </button>
    </div>
</div>
<div id="pum6-window">
    <table>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_check">Check</button></td>
            <td class='spaced' colspan="2"><button id="pum_prompt">Prompt</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_compc">Complication</button></td>
            <td class='spaced' colspan="1"><button id="pum_cat">Catalyst</button></td>
            <td class='spaced' colspan="1"><button id="pum_chll">Challenge</button></td>
            <td class='spaced' colspan="1"><button id="pum_sit">Situation</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Yes or No</h5></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_qqu">Unlikely</button></td>
            <td class='spaced' colspan="2"><button id="pum_qqe">Even</button></td>
            <td class='spaced'><button id="pum_qql">Likely</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Describe</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_area">Area</button></td>
            <td class='spaced' colspan="2"><button id="pum_npc">Someone</button></td>
        </tr>
        <tr>
            <td class='spaced'><button id="pum_obj">Object</button></td>
            <td class='spaced' colspan="2"><button id="pum_item">Item</button></td>
            <td class='spaced'><button id="pum_mon">Monster</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">Oracles</h5></td>
        </tr>
        <tr>
            <td class='spaced' colspan="2"><button id="pum_who">Who</button></td>
            <td class='spaced' colspan="2"><button id="pum_wha">What</button></td>
        </tr>
        <tr>
            <td class='spaced' colspan="1"><button id="pum_in">Intent</button></td>
            <td class='spaced' colspan="2"><button id="pum_re">Reason</button></td>
            <td class='spaced' colspan="1"><button id="pum_act">Activity</button></td>
        </tr>
        <tr>
            <td colspan="4"><div style="text-align:right; margin-bottom: 0;font-size:11px">Learn more: <a href="https://jeansenvaars.itch.io/plot-unfolding-machine">PUM</a> - <a href="https://jeansenvaars.itch.io/scene-unfolding-machine">SUM</a></div></td>
        </tr>
    </table>
</div>
<style>
    .spaced {
        padding: 2px 2px;
    }
</style>