<form>
    <label for="mgme_v2_detail_check">Question (optional):</label>
    <input name="Detail Check" id="mgme_v2_detail_check" style="margin-bottom:10px;width: 260px;" placeholder="Detail Question"/>
    <div style="margin-bottom:5px">
        <label for="mgme_v2_include_desc_detail" style="vertical-align:super;">Include Description Detail</label>
        <input name="Include Description" type="checkbox" id="mgme_v2_include_desc_detail">
        <label for="mgme_v2_include_act_detail" style="vertical-align:super;">Include Action Detail</label>
        <input name="Include Action" type="checkbox" id="mgme_v2_include_act_detail">
    </div>
</form>