.pum8-dialog {
    display: grid;
    grid-template-areas:
        "aspr asp asp xx act act actr"
        "tror tro tro xx thr thr thrr";
    grid-template-columns: .25fr 1fr auto 6px auto 1fr .25fr;
    grid-template-rows: auto;
}

.pum8-dialog__button {
    display: grid;
    grid-template-areas:
        "icon label";
    grid-template-columns: 28px auto;
    grid-template-rows: auto;
    margin-bottom: 3px;
}

.pum8-dialog__icon--left {
    grid-area: icon;
    margin: auto;
    width: 14px;
}

.pum8-dialog__dice--right {
    margin-right: 5px;
    font-size: 20px;
}

.pum8-dialog__dice--left {
    margin-left: 5px;
    font-size: 20px;
}

.pum8-dialog__dice > i:focus, .pum8-dialog__dice > i:hover {
    outline: none;
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.pum8-dialog__button-control-label {
    grid-area: label;
}

.pum8_panel_aspect_setup {
    grid-area: asp
}

.pum8_panel_aspect_roll {
    grid-area: aspr
}

.pum8_panel_encounter_setup {
    grid-area: act
}

.pum8_panel_encounter_roll {
    grid-area: actr
}

.pum8_panel_find_setup {
    grid-area: tro
}

.pum8_panel_find_roll {
    grid-area: tror
}

.pum8_panel_question_setup {
    grid-area: thr
}

.pum8_panel_question_roll {
    grid-area: thrr
}
