.mythic-gme-dialog {
    display: grid;
    grid-template-areas:
        "fq fq fq xx sa sa sa"
        "re re re xx fo fo fo"
        "cq cq cq xx bg bg bg"
        "ec ec ec xx dc dc dc"
        "ac ac ac xx desc desc desc"
        "bc bc bc xx sc sc sc"
        "npcr npc npc xx thr thr thrr"
        " . ci ct ct ct cd ."
        " . ci cc cc cc cd .";
    grid-template-columns: .5fr 1fr auto 6px auto 1fr .5fr;
    grid-template-rows: auto;
}

.mythic-gme-dialog__button {
    display: grid;
    grid-template-areas:
        "icon label";
    grid-template-columns: 28px auto;
    grid-template-rows: auto;
    margin-bottom: 3px;
}

.mythic-gme-dialog__icon--left {
    grid-area: icon;
    margin: auto;
    width: 14px;
}

.mythic-gme-dialog__dice--right {
    margin-right: 5px;
    font-size: 20px;
}

.mythic-gme-dialog__dice--left {
    margin-left: 5px;
    font-size: 20px;
}

.mythic-gme-dialog__dice > i:focus, .mythic-gme-dialog__dice > i:hover {
    outline: none;
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.mythic-gme-dialog__button-control-label {
    grid-area: label;
}

.mgme_panel_fq,
.mgme_panel_fc {
    grid-area: fq;
}

.mgme_panel_sa {
    grid-area: sa;
}

.mgme_panel_re {
    grid-area: re;
}

.mgme_panel_fo {
    grid-area: fo;
}

.mgme_panel_cq {
    grid-area: cq;
}

.mgme_panel_bg {
    grid-area: bg;
}

.mgme_panel_ec {
    grid-area: ec;
}

.mgme_panel_dc {
    grid-area: dc;
}

.mgme_panel_ac {
    grid-area: ac;
}

.mgme_panel_desc {
    grid-area: desc;
}

.mgme_panel_bc {
    grid-area: bc;
}

.mgme_panel_sc {
    grid-area: sc;
}

.mgme_panel_ct {
    grid-area: ct;
    text-align: center;
    font-size: 1rem;
    margin: 3px 6px 0 6px;
}

.mgme_panel_ci {
    grid-area: ci;
}

.mgme_panel_cc {
    grid-area: cc;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.mgme_panel_cd {
    grid-area: cd;
}

.mgme_panel_npc {
    grid-area: npc
}

.mgme_panel_thread {
    grid-area: thr
}

.mgme_panel_npc_roll {
    grid-area: npcr
}

.mgme_panel_thread_roll {
    grid-area: thrr
}

#mgme_panel_ci,
#mgme_panel_cd {
    height: 100%;
    font-size: x-large;
    padding-right: 15px;
}

#m2e_panel_window {
    min-width: 420px;
}

#pum_panel_window {
    min-width: 450px;
}

#gum_panel_window {
    min-width: 470px;
}