<form>
    <div>
        <label for="mgme_backstory_count">Question (optional):</label>
        <select name="Backstory Check" id="mgme_backstory_count" style="margin-bottom:10px;width:260px">
        <option value="table" selected>Mythic GME: Backstory Events</option>
        <option value="1">One Backstory</option>
        <option value="2">Two Backstories</option>
        <option value="3">Three Backstories</option>
        <option value="4">Four Backstories</option>
        <option value="5">Five Backstories</option>
        <option value="6">Six Backstories</option>
        <option value="7">Seven Backstories</option>
        </select>
    </div>
</form>