<form>

    <div>
        <label for="mgme_statistic_target">Statistic Target:</label>
        <input name="Statistics Target" id="mgme_statistic_target" style="margin-bottom:10px;width:285px;" placeholder="Target"/>
    </div>

    <div id="mgme_stats_container"></div>
    <div><i style="width:auto;height:25px;" class="fas fa-plus" onclick="entryAdd(this.parentElement.parentElement)"> Add</i></div>

    <div>
        <span title="Important" class="fas fa-exclamation-triangle" style="margin-left:5px;"></span>
        <label for="mgme_statistic_important">Is important:</label>
        <input name="Is important" id="mgme_statistic_important" type="checkbox" style="vertical-align:middle">
    </div>

    <style>
        i:hover {
            text-shadow: 0 0 8px red;
        }
        .stat-hidden {
            visibility: hidden;
        }
    </style>

</form>