<form>
  <div>
  <label for="mgme_v2_odds">Odds:</label>
  <select name="Odds" id="mgme_v2_odds" style="margin-bottom: 10px;">
    <option value="imp">Impossible</option>
    <option value="nw">No way</option>
    <option value="vu">Very unlikely</option>
    <option value="u">Unlikely</option>
    <option value="ff" selected>50/50</option>
    <option value="l">Likely</option>
    <option value="vl">Very likely</option>
    <option value="st">Sure thing</option>
    <option value="htb">Has to be</option>
  </select>
  <label for="mgme_chaos" style="margin-left: 5px;">Chaos Factor:</label>
  <select name="Chaos" id="mgme_chaos" style="margin-bottom: 10px;">
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
  </select>
  </div>
  <div>
  <label for="mgme_v2_question">Question (optional):</label>
  <input name="Question" id="mgme_v2_question" style="margin-bottom:10px;width: 260px;" placeholder="Ask the Oracle..."/>
  </div>
  <div style="margin-bottom: 5px">
    <label for="mgme_v2_yesfav" style="vertical-align:super;">Yes is a favorable answer</label>
    <input name="Yes is Favorable" type="checkbox" id="mgme_v2_yesfav">
  </div>
</form>